/* Estilos Generales */
body {
    font-family: monospace;
    font-size: 1vmax;
    line-height: 1vmax;
    margin: 1%;
    text-align: left;
    background-color: #f8f9fa;
    color: #333;
}

/* Contenedor principal */
#d_flatware {
    padding-left: 2%;
    padding-top: 2%;
    width: 90%;
}

/* Enlaces */
#d_flatware a {
    cursor: pointer;
    color: #6f1a8b;
    text-decoration: underline;
}
#d_flatware a:active {
    color: #ff0000;
}