/* Estilos Generales */
body {
    font-family: monospace;
    font-size: 1vmax;
    line-height: 1vmax;
    margin: 1%;
    text-align: left;
    background-color: #f8f9fa;
    color: #333;
}

/* Contenedor principal */
#d_flatware {
    padding-left: 2%;
    padding-top: 2%;
    width: 90%;

    white-space: normal; /* Asegura que el texto se ajuste automáticamente */
    word-wrap: break-word; /* Permite que el texto se divida cuando es necesario */
}

/* Enlaces */
#d_flatware a {
    cursor: pointer;
    color: #6f1a8b;
    text-decoration: underline;
}
#d_flatware a:active {
    color: #ff0000;
}

/* Iconos */
.material-symbols-outlined {
    cursor: pointer;
    font-size: 3vmax;
    color: #555;
    margin-right: 0.5vmax;
    vertical-align: middle;
}
.material-symbols-outlined:hover {
    font-weight: bold;
}

.edit .material-symbols-outlined {
    font-size: 2vmax;
}

.win {
    position: fixed;
    flex-direction: column;
    left: 70%; /* Centrado horizontal usando porcentajes */
    top: 2vh; /* Empieza un poco más abajo del borde superior */
    z-index: 0;
    text-align: right;
    width: 22%;

    background: #ffffff;
    padding: 1vmax;
    border-radius: 1vmax;
    box-shadow: 0 0 1vmax rgba(0, 0, 0, 0.1);
}

.edit {
    margin-top: 1vmax;
    padding: 0.5vmax;
    border:#000000 0.25vmax;
    border-style: inset outset;
    border-radius: 0.25vmax;
    text-align: center;
}

select[multiple] {
    width: 90%;
    font-family: monospace;
    margin-top:0.5vmax;
    height:20vmax;
    padding: 0.5vmax;
    border-radius: 0.25vmax;
}

/* Estilos para la version en smartphone */
@media only screen and (max-width: 600px) {
    select[multiple] {
        height:3vmax;
    }
    
    .win {
        left: 60%; /* Centrado horizontal usando porcentajes */
    }
}