/* Styles */
body {
   font-family: monospace;
   font-size: 1vmax;
   line-height: 1.5vmax;
   margin: 0.1%;
   text-align: left;
   vertical-align: middle;
   background-color: #f8f9fa;
   color: #333;
}

/* Table */
.table {
    display: table;
    border-collapse: collapse;
    width: 100%;
}
/* Row */
.table div {
    display: table-row;
}
/* Cell */
.table div div {
    display: table-cell;
    barder:solid #000000 0.1vmax;
    text-align: left;
    vertical-align: top;
    
    padding: 0.5vmax;
}

.table div:nth-child(1) {
    width: 20%;
}

/* */
.material-symbols-outlined {
    cursor: pointer;
    font-size: 3vmax;
    color: #555;
    margin-right: 0.5vmax;
    vertical-align: middle;
}
.material-symbols-outlined:hover {
    font-weight: bold;
}

/* */
/* Estilos generales para el menu derecho*/
.win {
    top: 0.1vh; /* Empieza un poco más abajo del borde superior */

    position: fixed;
    width: 22%; /* Ajusta el ancho según sea necesario */
    left: 0.1%; /* Centrado horizontal usando porcentajes */
    z-index: 0;
}

.menu, .edit {
    background: #ffffff;
    padding-right: 3vmax;
    border-radius: 1vmax;
    box-shadow: 0 0 1vmax rgba(0, 0, 0, 0.1);
}
/* Para los elementos dentro del menu derecho*/
.menu h1 {
    margin: 0;
    font-size: 1.5em;
    text-align: center !important;
}

.menu div, .edit div {
    display: flex;
    align-items: center; /* Alinea verticalmente los elementos dentro del span */
    padding: 0vmax !important;
}

.menu div span {
    cursor: pointer;
}

.menu div span:hover {
    font-weight: bold;
}

/* Si el ancho de la ventana es un movil reducir el height*/
select[multiple] {
    width: 90%;
    font-family: monospace;
    margin-bottom:0.5vmax;
    height:20vmax;
    padding: 0.5vmax;
}

/* Enlaces */
a {
    cursor: pointer;
    color: #6f1a8b;
    text-decoration: underline;
}

a:active {
    color: #ff0000;
}

/* d_flatware */
#d_flatware {
    padding-left: 1%;
    padding-top: 1%;
}

/* Estilos para la version en smartphone */
@media only screen and (max-width: 600px) {
    select[multiple] {
        height:1vmax;
    }
}